.header-container {
    width: 1684px;
    margin: 0 auto;
}
li {
    color: #636060;
    font-size: 17px;
    font-family: Helvetica;
    display: inline-block;
}
nav {
    display: inline-block;
    vertical-align: middle;
}
.geolablogo {
    vertical-align: middle;
    margin-right: 1050px;
    width: 33px;
    height: 42px;
}
header {
    margin-top: 24px;
}
.li1 {
    margin-right: 46px;
}
.container {
    width: 1684px;
    margin: 0 auto;
}
.bgimg {
    margin-top: 18px;
    margin-bottom: 84px;
    width: 1903px;
    height: 809px;
}
h1 {
    color: #636060;
    font-size: 17px;
    font-family: Helvetica;
    margin-bottom: 9px;
}
h2 {
    color: #010101;
    font-size: 28px;
    font-family: Helvetica;
    margin-bottom: 37px;
}
h3 {
    color: #636060;
    font-size: 20px;
    font-family: Helvetica;
}
.discover {
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    z-index: 1;
}
.flex-container {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    position: absolute;
    margin-left: 600px;
}
h4 {
    color: #343232;
    font-size: 19px;
    font-family: Helvetica;
}
h5 {
    color: #636060;
    font-size: 18px;
    font-family: Helvetica;
}
.cardimg {
    margin-bottom: 23px;
}
.cardname {
    margin-bottom: 9px;
}
.cardp {
    margin-bottom: 56px;
}